In [1]:
import pandas as pd

In [3]:
titanic_df = pd.read_csv('datasets/titanic_processed.csv')
titanic_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,1,38.0,0,0,8.6625,0,0,1
1,1,3,1,32.0,0,0,8.0500,0,0,1
2,0,1,1,31.0,0,0,50.4958,0,0,1
3,0,3,1,14.0,5,2,46.9000,0,0,1
4,1,3,1,3.0,4,2,31.3875,0,0,1

In [4]:
titanic_df.shape

(712, 10)

In [5]:
from sklearn.model_selection import train_test_split

X = titanic_df.drop('Survived', axis=1)
y = titanic_df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [6]:
X_train.shape, y_train.shape

((569, 9), (569,))

In [7]:
X_test.shape, y_test.shape

((143, 9), (143,))

In [8]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression(penalty= 'l2', C=1.0, solver='liblinear' ).fit(X_train,y_train )

In [9]:
y_pred = logistic_model.predict(X_test)

In [10]:
pred_results = pd.DataFrame({'y_test': y_test, 'y_pred': y_pred})

In [11]:
pred_results.head()

     y_pred  y_test
184       0       0
315       0       0
221       1       1
638       0       0
675       1       0

In [12]:
 titanic_crosstab = pd.crosstab(pred_results.y_pred, pred_results.y_test)

In [13]:
 titanic_crosstab

y_test   0   1
y_pred
0       79   9
1       16  39

In [14]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [16]:
acc= accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)

print 'accuracy score: ', acc
print 'precision score: ', prec
print 'recall score: ', recall

accuracy score:  0.8251748251748252
precision score:  0.7090909090909091
recall score:  0.8125

In [17]:
titanic_crosstab

y_test   0   1
y_pred
0       79   9
1       16  39

0